* {
  margin: 0;
}

.app {
  background-color: beige;

  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
